<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.nohttpsglide">

    <application>
        <meta-data
            android:name="com.leo.nohttpsglide.OkHttpGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>